<!DOCTYPE html>
<html ng-app="matisse">
<head>
    <title>Matisse</title>
    <link rel="stylesheet" href="public/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/lib/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="public/css/matisse.css">
    <link rel="icon" href="public/images/icon_16.png" type="image/png" sizes="16x16">
</head>
<body ng-controller="ApplicationController">
    <div class="container container-fluid">
        <div class="row-fluid">
            <div class="span4">
                <div class="pull-left">
                    <img src="public/images/mattise_whitebg.png">
                </div>
            </div>
            <div class="span8">
                <div class="pull-right">
                    <form class="form-inline" ng-hide="userName">
                        <input type="text" class="input-medium" placeholder="Email" ng-model="email">
                        <input type="password" class="input-medium" placeholder="Password" ng-model="password">
                        <button class="btn btn-primary" ng-click="authenticateUser()"><i class="icon-lock icon-white"></i>&nbsp;Login</button>
                        <button class="btn btn-success"><i class="icon-user icon-white"></i>&nbsp;Sign up</button>
                    </form>
                    <p ng-show="userName" class="text-info"><strong>Welcome&nbsp;</strong>{{userName}}</p>
                </div>
            </div>
        </div>
        <div class="row-fluid" ng-view>

        </div>
    </div>
    <script type="text/javascript" src="public/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="public/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/lib/angular/angular-1.0.5.min.js"></script>

    <script type="text/javascript" src="public/js/app.js"></script>

    <script type="text/javascript" src="public/js/controllers/applicationController.js"></script>
    <script type="text/javascript" src="public/js/controllers/homeController.js"></script>

    <script type="text/javascript" src="public/js/services/connect.js"></script>
</body>
</html>
