<!DOCTYPE html>
<html ng-app="matisse" xmlns="http://www.w3.org/1999/html">
<head>
    <title data-i18n="lbl.matisse"></title>
    <link rel="stylesheet" href="public/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/lib/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="public/css/matisse.css">

    <link rel="icon" href="public/images/icon_16.png" type="image/png" sizes="16x16">


    <script type="text/javascript" src="public/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="public/lib/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="public/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/lib/angular/angular-1.0.5.min.js"></script>

    <script src="public/js/localize/localize.js"></script>

    <script type="text/javascript" src="public/js/app.js"></script>

    <script type="text/javascript" src="public/js/directives/contentEditableDirective.js"></script>
    <script type="text/javascript" src="public/js/controllers/applicationController.js"></script>
    <script type="text/javascript" src="public/js/controllers/homeController.js"></script>

    <script type="text/javascript" src="public/js/services/connect.js"></script>


</head>
<body ng-controller="ApplicationController" ng-init="islogged()">

<div class="container">
<div id="loginHeader" class="row-fluid">
    <div class="span4 leftHeader">
        <div id="loginLogo"><img src="public/images/mattise_whitebg.png"/></div>
    </div>
    <div class="span8 rightHeader">
        <div class="pull-right"><a href="#" ng-click="setEnglishLanguage()">English</a> | <a href="#"
                                                                                             ng-click="setPigLatinLanguage()">PigLatin</a>
        </div>
        <div id="testimonial" class="text">
            <div ng-show="userName" class="row-fluid" id="rightheaderContent">
                <div class="span4">
                    <div class='btn-toolbar' id='rightHeaderButton'>
                        <div class='btn-group' style='padding-right: 10px;'>
                            <div class="numButton"><h3>{{ownedBoards.length}}</h3><h6 data-i18n="lbl.owned.by.me"></h6>
                            </div>
                        </div>
                        <div class='btn-group' style='padding-right: 10px;'>
                            <div class="numButton"><h3>{{sharedBoards.length}}</h3><h6 data-i18n="lbl.shared.with.me"></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span8">
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="btn-group pull-right" id="launchButton">
                                <button class="btn btn-action" data-toggle="modal"
                                        data-target="#whiteboardForm"> {{'msg.whiteboard'|i18n}} &raquo; </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-hide="userName" class="span1"><img src="public/images/blockquotes_start.png" alt="&quot;"
                                                       align="top" width="20"
                                                       height="20" class="pull-left"/></div>
            <div ng-hide="userName" class="span10"><p data-i18n="msg.about.matisse"></p></div>
            <div ng-hide="userName" id="rightQuote"><img src="public/images/blockquotes_end.png" alt="&quot;"
                                                         align="top" width="20"
                                                         height="20" class="pull-right"/></div>
        </div>
    </div>
</div>
<div id="loginHeaderDivider" class="row-fluid">
    <div id="loginHeaderDividerLeft" class="span4" style="min-height: 10px"></div>
    <div id="loginHeaderDividerRight" class="span8" style="min-height: 10px"></div>
</div>


<div id="loginContent" class="row-fluid content">
    <div id="loginLeftContent" class="span4"><h3 ng-hide="userName" data-i18n="_login.with_"></h3>

        <form class="form-inline" ng-hide="userName">
            <input type="text" class="input-medium" ng-model="email" placeholder="{{'lbl.email'|i18n}}">
            <input type="password" class="input-medium" placeholder="{{'msg.password'|i18n}}" ng-model="password">
            <button class="btn btn-primary" ng-click="authenticateUser()"><i class="icon-lock icon-white"></i>&nbsp;
                {{'lbl.login' | i18n}}
            </button>
            <button class="btn btn-success"><i class="icon-user icon-white"></i>&nbsp;{{'lbl.sign.up' | i18n}}
            </button>
        </form>
        <p ng-show="userName" class="text-info"><strong data-i18n="lbl.welcome"></strong>, &nbsp;{{userName}} </p>
        <a ng-show="userName" href="#" ng-click="logoutUser()"> logout</a>

        <div ng-hide="userName" class="loginIconBar"><a href="/auth/twitter" style="border: 0px"><img
                src="public/images/login icons/twitter-new.png" class="loginIcon"/></a><a href="auth/facebook"><img
                src="public/images/login icons/facebook-new.png" class="loginIcon"/></a><a href="auth/google"><img
                src="public/images/login icons/google-new.png" class="loginIcon"/></a></div>
        <hr/>
        <h3 ng-hide="userName" style="font-size:1.3em"><a href="http://youtu.be/F4hA1A1PVxw"
                                                          data-i18n="lbl.watch.demo"></a></h3>

        <div ng-hide="userName" id="demovid">
            <iframe width="300" height="169" src="https://www.youtube.com/embed/F4hA1A1PVxw" frameborder="0"
                    allowfullscreen="true"></iframe>
        </div>
    </div>

    <div id="loginRightContent" class="span8" style="min-height: 420px;">
        <div ng-show="userName" class="row-fluid">
            <div class="span8 pull-left"><h3 class="dashboardRightContentHeading" data-i18n="lbl.owned.by.me"></h3>
            </div>
        </div>
        <div ng-show="userName" class="row-fluid">
            <div id="ownedBoardList" class="span12 columns whiteboardList">
                <ul class="thumbnails"></ul>
                <li class="span3 dashboardLeftThumbnail " ng-repeat="board in ownedBoards">
                    <div class="thumbnail dashboardThumbnail dashboardWhiteBoardItem">
                        <div boardurl="{{board.createdUrl}}" name="{{board.name}}" title="Delete Board"
                             class="delete-board" ng-click="deleteBoard(board)">
                            <center>
                                <div class="delete-ico"></div>
                            </center>
                        </div>
                        <a href="board\{{board.createdUrl}}"><img src="public/images/140x120.gif" alt=""></a>

                        <div class="thumbnailText">

                            <p id="board-name-{{board._id}}" class="thumbnailCaption editable"
                               title="{{'msg.click.to.edit'|i18n}}"
                               contenteditable
                               ng-model="board.name"
                               strip-br="true"
                               required></p>
                        </div>
                    </div>
                </li>
            </div>
        </div>
        <div class="row">
            <div id="showAllCreateWhiteBoard" class="span2 offset6"><a href="#" id="showOwned" class="pull-left">Show
                all</a></div>
        </div>
        <div ng-hide="userName" class="row-fluid">
            <div class="span6" style="height: 10px;"><h3>&nbsp;</h3></div>
            <div class="span6">
                <div id="rightContentButton" class="btn-toolbar pull-left">
                    <div class="btn-group">
                        <button class="greyButton" data-i18n="lbl.version"></button>
                    </div>
                    <div class="btn-group">
                        <button class="greyButton">{{ 'lbl.last.updated' | i18n}} July 31,2012</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <hr class="dashes"/>
        </div>
        <div ng-show="userName" class="row-fluid">
            <div class="span8 dashboardRightContent"><h3 class="dashboardRightContentHeading"
                                                         data-i18n="lbl.shared.with.me"></h3>
            </div>
        </div>
        <div ng-show="userName" class="row-fluid">
            <div class="span12 columns whiteboardList">
                <ul class="thumbnails"></ul>
                <li class="span3 dashboardLeftThumbnail " ng-repeat=" board in sharedBoards">
                    <div class="thumbnail dashboardThumbnail dashboardWhiteBoardItem"><a
                            href="boards\{{board.sharedUrl}}"><img src="public/images/140x120.gif" alt=""></a>

                        <div class="thumbnailText"><p class="thumbnailCaption">{{board.name}}</p>

                            <p class="thumbnailCaption"></p></div>
                    </div>
                </li>
            </div>
        </div>
        <div ng-hide="userName" class="row-fluid">
            <div class="span6 rightContent carouselTitle"><h3 data-i18n="lbl.sample.whiteboards"></h3></div>
            <div class="span2 carousalPager"></div>
        </div>
        <div ng-hide="userName" class="row-fluid">
            <div class="span11 columns">
                <div id="myCarousel" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="active item">
                            <ul class="thumbnails">
                                <li class="span6 leftThumbnail">
                                    <div class="thumbnail sampleWb"><img src="public/images/whiteboard1.png"
                                                                         alt=""/></div>
                                    <div class="thumbnailText"></div>
                                </li>
                                <li class="span6 rightThumbnail">
                                    <div class="thumbnail sampleWb"><img src="public/images/whiteboard2.png"
                                                                         alt=""/></div>
                                    <div class="thumbnailText"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="thumbnails">
                                <li class="span6 leftThumbnail">
                                    <div class="thumbnail sampleWb"><img src="public/images/whiteboard1.png"
                                                                         alt=""/></div>
                                    <div class="thumbnailText"></div>
                                </li>
                                <li class="span6 rightThumbnail">
                                    <div class="thumbnail sampleWb"><img src="public/images/whiteboard2.png"
                                                                         alt=""/></div>
                                    <div class="thumbnailText"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a href="#myCarousel" data-slide="prev" class="carousel-control homepage left">&lsaquo;</a><a
                        href="#myCarousel" data-slide="next" class="carousel-control homepage right">&rsaquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="loginFooterDivider" class="row-fluid">
    <div id="loginFooterDividerLeft" class="span4" style="min-height: 10px"></div>
    <div id="loginFooterDividerRight" class="span8" style="min-height: 10px"></div>
</div>


<div id="loginFooter" class="row-fluid">
    <div id="loginLeftFooter" class="span4 leftFooter">
        <div id="leftFooterIcon" class="row-fluid">
            <div class="span"><br/><a href="https://plus.google.com/109117794938178674717" rel="publisher"
                                      data-i18n="lbl.find.on.google"></a></div>
            <div class="span  pull-right"></div>
        </div>
    </div>
    <div id="loginRightFooter" class="span8">
        <div id="footer">
            <div class="footerInner">
                <div class="footerMenu"><a href="/about" style="display: none;" data-i18n="lbl.about.us"></a><a
                        href="https://github.com/Imaginea/matisse/wiki" data-i18n="lbl.matisse.wiki"></a><a
                        href="https://github.com/Imaginea/matisse" data-i18n="lbl.github.repository"></a><a
                        href="https://github.com/Imaginea/matisse/issues" data-i18n="lbl.bug.tracker"></a></div>
            </div>
        </div>
    </div>


    <div id="whiteboardForm" style="display: none;" class="modal hide fade">
        <div class="modal-header"><h4>{{'msg.whiteboard'|i18n}}<a data-dismiss="modal" class="close">x</a></h4></div>
        <div class="modal-body">
            <form name="whiteboard" id="whiteboard" class="form-horizontal">
                <fieldset>
                    <div id="whiteboardName" class="control-group"><label for="whiteboardName" class="control-label">{{'lbl.name'
                        | i18n}}*:</label>

                        <div class="controls"><input name="whiteboardName" id="name" type="text" placeholder="boardName"
                                                     value="{{boardName}}">

                            <div id="nameError" data-i18n="err.valid.name"></div>
                        </div>
                    </div>
                    <div id="containerlist" style="display:none" class="control-group"><label for="containerListInput"
                                                                                              class="control-label">Container
                        type:</label>

                        <div class="controls"><select name="container" id="containers">
                            <option value="desktop-1024x768" id="desktop-1024x768">Desktop-1024x768</option>
                            <option value="desktop-1280x1024" id="desktop-1280x1024">Desktop-1280x1024</option>
                            <option value="iphone" id="iPhone">iPhone</option>
                            <option value="ipad" id="iPad">iPad</option>
                            <option value="blackberry" id="BlackBerry">BlackBerry</option>
                            <option value="browser" id="Browser">Browser</option>
                        </select></div>
                    </div>
                    <div id="layoutList" style="display:none" class="control-group"><label for="layoutListInput"
                                                                                           class="control-label">Template:</label>

                        <div class="controls"><select name="layout" id="layouts">
                            <optgroup label="content">
                                <option value="blank" id="blank">Blank</option>
                                <option value="column_header" id="column_header">Column_header</option>
                                <option value="column_header_footer" id="column_header_footer">Column_Header_Footer
                                </option>
                                <option value="two_column_header" id="two_column_header">Two_Column_Header</option>
                                <option value="two_column_header_footer" id="two_column_header_footer">
                                    Two_Column_Header_Footer
                                </option>
                                <option value="three_column_header" id="three_column_header">Three_Column_Header
                                </option>
                                <option value="three_column_header_footer" id="three_column_header_footer">
                                    Three_Column_Header_Footer
                                </option>
                            </optgroup>
                        </select></div>
                    </div>
                    <div id="canvaswidth" style="display:none" class="control-group"><label for="canvasWidth"
                                                                                            class="control-label">Canvas
                        Width:</label>

                        <div class="controls"><input name="canvasWidth" id="canvasWidth" type="text" value="1024"></div>
                    </div>
                    <div id="canvasheight" style="display:none" class="control-group"><label for="canvasWidth"
                                                                                             class="control-label">Canvas
                        Height:</label>

                        <div class="controls"><input name="canvasHeight" id="canvasHeight" type="text" value="768">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer"><p class="help-block pull-left">*{{'lbl.required' | i18n}}</p><a href="#"
                                                                                                   data-dismiss="modal"
                                                                                                   id="createWhiteboard"
                                                                                                   ng-click="newboards(boardName)"
                                                                                                   class="btn btn-primary"
                                                                                                   data-i18n="lbl.create"></a><a
                href="#" data-dismiss="modal" class="btn" data-i18n="lbl.cancel"></a></div>
    </div>


</div>


</div>


</body>
</html>
